:root {
	--sl-text-xs: 0.875rem; /* 14px (default 13px) */
  --sl-text-sm: 0.9375rem; /* 15px (default 14px) */
}

aside {
	border-radius: 0.5rem;
}

code {
	border-radius: 4px;
	border: 1px solid var(--sl-color-gray-4);
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3e1600;
	--sl-color-accent: #aa4800;
	--sl-color-accent-high: #fab796;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f0edeb;
	--sl-color-gray-2: #c5c1bf;
	--sl-color-gray-3: #918a86;
	--sl-color-gray-4: #5d5653;
	--sl-color-gray-5: #3d3734;
	--sl-color-gray-6: #2b2523;
	--sl-color-black: #1a1716;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #fdcab1;
	--sl-color-accent: #ad4a00;
	--sl-color-accent-high: #552000;
	--sl-color-white: #1a1716;
	--sl-color-gray-1: #2b2523;
	--sl-color-gray-2: #3d3734;
	--sl-color-gray-3: #5d5653;
	--sl-color-gray-4: #918a86;
	--sl-color-gray-5: #c5c1bf;
	--sl-color-gray-6: #f0edeb;
	--sl-color-gray-7: #f7f6f5;
	--sl-color-black: #ffffff;
}
